<div class="pt-20"></div>
<div class="">
  {{form-namespace
    editing=true
    namespace=namespace
    errors=namespaceErrors
  }}
</div>

<div class="pt-20"></div>
{{form-key-value
  header="Label Selector"
  editing=true
  initialMap=model.selector
  addActionLabel="Add Selector"
}}

<div class="pt-20"></div>
<div class="inline-form">
  <label class="acc-label">{{t 'generic.image'}} {{field-required}}</label>
  <div class="inline-form">
    {{input type="text"}}
  </div>
</div>